/* Reset básico */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: white;
    color: black;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: none;
}


/* Barra de búsqueda */
.search-bar {
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: 150px; 
}

.search-bar input {
    border: none;
    font-size: 14px;
    padding: 5px;
    outline: none;
}

/* Menú de opciones */
.menu-options {
    display: flex;
    padding: 15px 20px;
    border-bottom: none;
    font-size: 16px;
}

.menu-options span {
    margin-right: 20px;
}

.menu-options b {
    font-weight: bold;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    font-size: 14px;
    padding-left: 50px;
}


.message {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.info {
    font-size: 14px;
    color: grey;
}


.tab-content {
    display: none; /* Oculta ambas secciones por defecto */
}

#cesta:target, #favoritos:target {
    display: block; /* Muestra solo la que está en la URL */
}

/* Para que por defecto se vea la CESTA */
.container:not(:target) #cesta {
    display: block;
}

/* Estilos de las pestañas */
.menu-options a {
    text-decoration: none;
    color: black;
    font-size: 12px; /* Letras más pequeñas */
    padding: 5px 10px;
    cursor: pointer;
}

.menu-options a:hover, .menu-options a:target {
    font-weight: bold;
    text-decoration: underline;
}



.boton-comprar {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.boton-comprar:hover {
    background-color: #333;
}

.mensaje-compra {
    color: green;
    font-weight: bold;
    margin-bottom: 15px;
}


.lista-cesta {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-cesta {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.item-cesta img {
    border-radius: 4px;
}