<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/cesta.css">
    <title>Cesta- ZARA</title>
</head>
<body>

    <header class="header">
        <div class="menu-icon">
            <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

        <div class="logo">
            <img src="../static/img/logo_zara.svg" alt="ZARA">
        </div>

        
        <div class="search-bar">
            <input type="text" placeholder="Buscar..." id="search">
        </div>
    </header>

    <nav class="menu-options">
        <span><b>CESTA</b></span>
        <span>FAVORITOS</span>
    </nav>

    <main class="container">
        <div class="message">TU CESTA ESTÁ VACÍA</div>
        <div class="info">Los artículos que añadas se mostrarán aquí</div>
    </main>

</body>
</html>