<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo_zara.svg" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <link href="../static/dist/hamburgers.css" rel="stylesheet">
    <title>ZARA</title>
</head>
<body>
    <div class="menu-left">
        <div class="menu-left-inside">
            <ul class="menu-list">
                <li><a href="">MUJER</a></li>
                <li><a href="">HOMBRE</a></li>
                <li><a href="">NIÑOS</a></li>
            </ul>
            {% for categoria in categorias %}
                <div>{{ categoria.nombre }}</div>


            {% endfor %}
        </div>
    </div>

    <header class="header">
        <div class="menu-icon">
            <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
        <div class="logo"><a href="./"><img src="../static/img/logo_zara.svg" alt=""></a></div>
        <nav class="menu">
            <a href="#">BUSCAR</a>
            {% if session.user_id %}
                <a href="{{ url_for('cuenta') }}">CUENTA</a>
            {% else %}
                <a href="{{ url_for('loginselect') }}">INICIAR SESIÓN</a>
            {% endif %}

            
            <a href="{{ url_for('ayuda') }}">AYUDA</a>
            <a href="{{ url_for('cesta') }}">CESTA[0]</a>
        </nav>
    </header>

    

    
    <main class="content">
        <div class="video">
            <video src="../static/img/video_inicio.mp4" autoplay muted loop playsinline></video>
        </div>

        
        <hr>
        <section class="productos">
            <h2>Productos</h2>
            <br>
          
            <div class="productos-container">
              {% for producto in productos %}
              <a href="{{ url_for('detalle_producto', producto_id=producto.id) }}" class="product-link">
                <div class="product-card">
                  <div class="product-img">
                    <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}">
                  </div>
                  <div class="product-name">{{ producto.nombre }}</div>
                  <div class="product-price">{{ producto.precio }} €</div>
                  <div class="product-descripcion">{{ producto.descripcion }}</div>
                </div>
              </a>              
              {% endfor %}
            </div>
          </section>
    </main>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

</body>
<script>
    var hamburger = document.querySelector(".hamburger");
    var menu = document.querySelector(".menu-left")
    hamburger.addEventListener("click", function() {
      hamburger.classList.toggle("is-active");
      menu.classList.toggle("open")

    });
</script>
</html>
