<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo_zara.svg" type="image/x-icon">
    
    
    <link rel="stylesheet" href="../static/style.css">
    <link href="../static/dist/hamburgers.css" rel="stylesheet">
    <title>ZARA</title>
</head>
<body>
    <header class="header">
        <div class="menu-icon">
            <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
        <div class="logo"><a href=""><img src="../static/img/logo_zara.svg" alt=""></a></div>
        <nav class="menu">
            <a href="#">BUSCAR</a>
            <a href="{{ url_for('login') }}">INICIAR SESIÓN</a>
            <a href="#">AYUDA</a>
            <a href="#">CESTA[0]</a>
        </nav>
    </header>

    <div class="menu-left">
        <div class="menu-left-inside">
            <ul class="menu-list">
                <li><a href="">MUJER</a></li>
                <li><a href="">HOMBRE</a></li>
                <li><a href="">NIÑOS</a></li>
            </ul>
        </div>
    </div>
    
    <main class="content">
        <section class="info">
            <h2>EXHIBITION DE EXPERIENCIA</h2>
            <p>Idícate a disfrutar de una experiencia personalizada y acceder a todos nuestros servicios.</p>
            <button class="black-btn">INICIAR SESION</button>
            <button class="white-btn">REGISTRAR</button>
        </section>
        <section class="image-gallery">
            <img src="static/img/img iniciozara.jpg" alt="Fashion Model">
        </section>
    </main>
</body>
<script>
    var hamburger = document.querySelector(".hamburger");
    var menu = document.querySelector(".menu-left")
    hamburger.addEventListener("click", function() {
      hamburger.classList.toggle("is-active");
      menu.classList.toggle("open")

    });
</script>

</html>
