<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Todos los Productos</title>
    <link rel="stylesheet" href="../static/productos.css">
</head>
<body>

    <h2 class="titulo">TODOS LOS PRODUCTOS</h2>



    <div class="container">
        {% for producto in productos %}
            <div class="product-card">
                <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}">
                <div class="product-name">{{ producto.nombre }}</div>
                <div class="product-price">{{ producto.precio }} EUR</div>
            </div>
        {% endfor %}
    </div>

</body>
</html>