<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo_zara.svg" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/login.css">
    <link href="../static/dist/hamburgers.css" rel="stylesheet">
    <title>ZARA</title>
</head>
<body>
    <div class="img-login">
        
    </div>
    
    <header class="header">


        <div class="logo"><a href="./"><img src="../static/img/logo_zara.svg" alt=""></a></div>

    </header>

    

        
        <div class="content">
            <div class="login-container">
                <p class="login-title">REGÍSTRATE</p>
                <form method="POST">
                    <input type="email" name="email" placeholder="CORREO" required> <br>
                    <input type="text" name="name" placeholder="NOMBRE" required> <br>
                    <input type="password" name="password" placeholder="CONTRASEÑA" required> <br>
                    
                    <button class="white-btn" type="submit">Registrarse</button>
                </form>
                <a class="redirect" href="{{ url_for('login') }}">¿Ya tienes cuenta? Inicia sesión</a>
            
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="{{ category }}">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>  

           



        </div>



</body>
</html>
